<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입 화면 샘플 - Bootstrap</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>

    <style>
        body {
            min-height: 100vh;
        }

        .input-form {
            max-width: 680px;
            margin-top: 80px;
            padding: 32px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        }

        .mb-3 {
            margin-bottom: 1rem !important;
        }

        .invalid-feedback {
            display: none;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">회원가입</h4>
            <form class="validation-form" th:action="@{/register}" method="post" th:object="${customer}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name">이름</label>
                        <input type="text" class="form-control" id="name" placeholder="" th:field="*{name}" required/>
                        <div class="invalid-feedback">이름을 입력해주세요.</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="userId">ID</label>
                        <input type="text" class="form-control" id="userId" placeholder="" th:field="*{userId}" required/>
                        <div class="invalid-feedback">ID를 입력해주세요.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" placeholder="" th:field="*{password}" required/>
                    <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
                </div>

                <div class="mb-3">
                    <label for="phoneNumber">휴대폰 번호</label>
                    <input type="text" class="form-control" id="phoneNumber" placeholder="341-576" th:field="*{phoneNumber}" required/>
                    <div class="invalid-feedback">휴대폰 번호를 입력해주세요.</div>
                </div>

                <div class="mb-3">
                    <label for="address">주소</label>
                    <input type="text" class="form-control" id="address" placeholder="Houston" th:field="*{address}" required/>
                    <div class="invalid-feedback">주소를 입력해주세요.</div>
                </div>

                <div class="mb-3">
                    <label for="postalCode">Postal Code</label>
                    <input type="text" class="form-control" id="postalCode" placeholder="" th:field="*{postalCode}"/>
                </div>
                <div class="mb-4"></div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
            </form>
        </div>
    </div>
    <footer class="my-3 text-center text-small">
        <!-- <p class="mb-1">&copy; 2023 Your Company</p> -->
    </footer>
</div>

<script>
    window.addEventListener(
        "load",
        () => {
            const forms = document.getElementsByClassName("validation-form");

            Array.prototype.filter.call(forms, (form) => {
                form.addEventListener(
                    "submit",
                    function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add("was-validated");
                    },
                    false
                );
            });
        },
        false
    );
</script>
</body>
</html>
