<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Shop Homepage - Start Bootstrap Template</title>
  <!-- Favicon-->
  <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="/css/login.css" rel="stylesheet" />
  <!-- Custom styles for login form -->
  <link rel="stylesheet" th:href="@{/css/login.css}" />
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container-login {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50vh;
    }

    .login-wrapper {
      width: 300px;
      padding: 20px;
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .login-wrapper h2 {
      text-align: center;
    }

    .login-wrapper form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .login-wrapper input {
      margin-bottom: 10px;
      padding: 8px;
      width: 100%;
    }


  </style>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a type="button" class="navbar-brand btn" th:onclick="|javascript:goToMain()|">
      Fift
    </a>
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a
                  class="nav-link active"
                  aria-current="page"
                  href="#"
                  th:onclick="|javascript:goToMain()|"
          >Home</a
          >
        </li>
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item dropdown">
          <a
                  class="nav-link dropdown-toggle"
                  id="navbarDropdown"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
          >Shop</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">All Products</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <button
                class="btn btn-outline-dark"
                type="button"
                th:onclick="|javascript:openCart()|"
        >
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>

        <button class="btn btn-outline-dark mx-2" th:onclick="|javascript:openLoginForm()|">
          Login
        </button>

        <button
                class="btn btn-outline-dark mx-2"
                th:onclick="|javascript:openSignupForm()|"
        >
          Sign Up
        </button>

        <button class="btn btn-outline-dark" th:onclick="|javascript:openMypage()|">
          Mypage
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Fift</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        With this shop homepage template
      </p>
    </div>
  </div>
</header>

<!-- Login Form -->
<div class="container container-login">
  <div class="login-wrapper">
    <h2>비밀번호 변경</h2>
    <form method="post" action="/customer/1/change-password" id="login-form">
      <input type="text" name="userName" placeholder="Email" />
      <br />
      <input type="password" name="userPassword" placeholder="Password" />
      <br />
      <input type="password" name="newPassword" placeholder="NewPassword" />
      <br />
      <input type="submit" value="변경완료" />
    </form>
  </div>
</div>
<script th:src="@{/scripts.js}"></script>
</body>
</html>
