<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- head 부분은 원래대로 유지 -->
    <!-- ... -->

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/product.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<!-- Navigation 부분은 원래대로 유지 -->
<!-- ... -->


<!-- Product section -->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <!-- product 객체가 null이 아닌 경우에만 이미지를 표시하도록 조건 추가 -->
                <img class="card-img-top mb-5 mb-md-0" th:src="${product != null ? product.photo : ''}" alt="Product Image" />
            </div>
            <div class="col-md-6">
                <!-- product 객체가 null이 아닌 경우에만 내용을 표시하도록 조건 추가 -->
                <h1 class="display-5 fw-bolder" th:if="${product != null}" th:text="${product.productName}"></h1>
                <!-- product 객체가 null이 아닌 경우에만 내용을 표시하도록 조건 추가 -->
                <div class="fs-5 mb-5" th:if="${product != null}">
                    <span class="text-decoration-line-through" th:text="'$' + ${product.price + 3}"></span>
                    <span th:text="'$' + ${product.price}"></span>
                </div>
                <!-- product 객체가 null이 아닌 경우에만 내용을 표시하도록 조건 추가 -->
                <p class="lead" th:if="${product != null}" th:text="${product.description}"></p>

                <div class="d-flex">
                    <!-- product 객체가 null이 아닌 경우에만 내용을 표시하도록 조건 추가 -->

                    <form th:action="@{'/' + ${product.productId} + '/cart'}" method="post">
                        <input type="hidden" name="customerId" th:value="${session.customer.userId}" />
                        <input type="hidden" name="count" th:value="${1}" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            장바구니에 추가
                        </button>
                    </form>



                    <!-- product 객체가 null이 아닌 경우에만 내용을 표시하도록 조건 추가 -->
                    <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" th:if="${product != null}" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; Your Website 2023
        </p>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>
