<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <button type="button" class="navbar-brand btn" onclick="goToMain()">
            Fift
        </button>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a
                            class="nav-link active"
                            aria-current="page"
                            href="#"
                            onclick="goToMain()"
                    >Home</a
                    >
                </li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            id="navbarDropdown"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >Shop</a
                    >
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex">
                <button
                        class="btn btn-outline-dark"
                        type="button"
                        onclick="openCart()"
                >
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>

                <button class="btn btn-outline-dark mx-2" onclick="openLoginForm()">
                    Login
                </button>

                <button
                        class="btn btn-outline-dark mx-2"
                        onclick="openSignupForm()"
                >
                    Sign Up
                </button>

                <button class="btn btn-outline-dark" onclick="openMypage()">
                    Mypage
                </button>
            </div>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">장바구니 내역</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                With this shop homepage template
            </p>
        </div>
    </div>
</header>
<br />

<nav>
    <div class="container">
        <div class="row" style="background-color: #f7f7f7; border-radius: 20px; height: 75px">
            <table width="100%" style="margin: 10px">
                <tr>
                    <td style="padding-left: 10px">
                    <td th:text="${cart.totalPrice}">장바구니 금액</td>
                    </td>
                    <td></td>
                    <td align="right" style="padding-right: 35px">
                        <!-- 주석 처리된 부분 수정 -->
                        <a th:href="@{'/customer/'+${customer.userId} + '/cartList/deleteAll'}" class="btn btn-danger">전체 삭제하기</a>
                        <a th:href="@{'/customer/'+${customer.userId} + '/cartList/order'}" class="btn btn-success">주문 하기</a>
                    </td>
                </tr>
            </table>
        </div>
        <div style="padding-top: 50px">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">수량</th>
                </tr>
                </thead>
                <tbody>
                <!-- Thymeleaf 반복문으로 cartList 표시 -->
                <tr th:each="item : ${cartList}">
                    <td th:text="${item.product.productName}"></td>
                    <td th:text="'$' + ${item.product.Price}"></td>
                    <td th:text="${item.count}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr />
    </div>
</nav>

<!-- Bootstrap JS and other scripts go here -->
<script src="/js/scripts.js"></script>
</body>
</html>
